* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  height: 100vh;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  margin: 20px;
}

.nav-items {
  display: flex;
  list-style: none;
}

nav {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-items > li {
  margin: 10px;
  font-size: 24px;
}

.nav-logo {
  margin: 10px;
  width: 80px;
}

.main-content li {
  margin: 20px;
  font-size: 20px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: #8a8a8a;
  color: white;
  text-align: center;
}
