* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background-color: #282d35;
}

h1 {
  text-align: center;
  font-weight: 700;
  margin: 20px;
  color: white;
  letter-spacing: -0.05em;
  font-size: 40px;
}

.nav-items {
  display: flex;
  list-style: none;
}

nav {
  background-color: #21222a;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

nav .left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dbfb;
  font-weight: 700;
}

h4 {
  color: white;
  margin: 0 20px;
}

.nav-logo {
  margin: 10px;
  width: 40px;
}

.main-content {
  height: 80vh;
  background-image: url("https://res.cloudinary.com/dtkdsolsz/image/upload/v1643037766/react-icon-large_q0binl.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.main-content li {
  color: #ffffff;
  margin: 20px;
  font-size: 16px;
  font-weight: 400;
}

.main-content > ul > li::marker {
  font-size: 1.4rem;
  color: #61dbfb;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: #8a8a8a;
  color: white;
  text-align: center;
}
