* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  height: 100vh;
  background-color: #282d35;
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin: 20px;
  color: white;
  letter-spacing: -0.05em;
}

.nav-items {
  display: flex;
  list-style: none;
}

nav {
  background-color: #21222a;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dbfb;
}

h4 {
  color: white;
  margin: 20px;
}

.nav-logo {
  margin: 10px;
  width: 80px;
}

.main-content li {
  color: #ffffff;
  margin: 20px;
  font-size: 20px;
}

.main-content > li::marker {
  font-size: 1.4rem;
  color: #61dbfb;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: #8a8a8a;
  color: white;
  text-align: center;
}
